{% extends 'base.html.jinja' %}

{% block content %}

    <h1> {% block title %} Deja un mensaje {% endblock %}</h1>
        <form method="POST" Content-Type='application/json'>
            <div>
                <label for="nombre">Nombre examen </label><br>
                <input type="text" name="nombre" 
                placeholder="Nombre"
                value="{{ request.form['nombre'] }}">
                <br>
            </div> 
            <div>
                <label for="categoria">Categoría </label><br>
                <select name="categoria" width="300px">
                    <option value="seleccione">Seleccione categoría...</option>
                    {% for o in listaCategorias %}
                        <option value="{{ o.nombre }}">{{ o.nombre }}</option>
                    {% endfor %}
                </select>
                <br>
            </div>
            <div>
                <label for="precio">Precio </label><br>
                <input type="number" name="precio" 
                placeholder="Precio"
                value="{{ request.form['precio'] }}">
                <br>
            </div>
            <div>
                <label for="tipoMuestra">Tipo muestra </label><br>
                <input type="text" name="tipoMuestra" 
                placeholder="Tipo muestra"
                value="{{ request.form['tipoMuestra'] }}">
                <br>
            </div>
            <div>
                <label for="indicaciones">Indicaciones </label><br>
                <input type="text" name="indicaciones" 
                placeholder="Indicaciones"
                value="{{ request.form['indicaciones'] }}">
                <br>
            </div> 
            <input type="submit" value="Submit">
        </form>
{% endblock %}