{% extends 'base.html.jinja' %}

{% block content %}
<h1>{% block title %} Detalle de contacto {% endblock %}</h1>
    <div class="detail">
        <p>Nombre: {{ element.nombre }}</p>
        <p>Descripción: {{ element.descripcion }}</p>
    </div>
{% endblock %}